/.vs/WildAbyssLootBoxes/v17/DocumentLayout.json
/.vs/WildAbyssLootBoxes/FileContentIndex/16abc6af-2ebb-4a63-a608-722ce75736dc.vsidx
/.vs/WildAbyssLootBoxes/FileContentIndex/6a5b20e0-a587-4f96-95a6-7e09082dedaf.vsidx
/.vs/WildAbyssLootBoxes/v17/.futdcache.v2
/.vs/WildAbyssLootBoxes/v17/.suo
/.vs/WildAbyssLootBoxes/v17/DocumentLayout.backup.json
